.registerDesign{
    background-color:   #00828c ;
    font-family: "Myfont";
    color: #fff;
    
}

.inputDesigns{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 2.6em;
}

.registerSendAct {
    cursor: pointer;
    background-color:  #337b6b;
}

.registerSendAct:hover,
.registerSendDeac:hover {
    transition: 1s;
    background-color: #2e5e54 ;
}



