.appointmentDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00828c;
  font-family: "Myfont";
  padding: 1.5em;
}

.seeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 49%;
}

.seeCard {
  width: 280px;
  margin: 1.6em;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.seeCard:hover {
  transform: scale(1.05);
}

.modal-backdrop.show {
  opacity: 0.3 !important;
}

.button-container {
  display: inline-block;
  margin-right: 10px;
}

.isnotApp, 
.loadingDesing{
  height: 45vh;
}

@media screen and (max-width: 768px) {
  .seeCardContainer {
    flex-direction: column;
  }

  .seeCard {
    width: 70vw;
    margin: 10px;
  }
}
