.adminUserDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00828c;
    font-family: "Myfont";
}

.userCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 49%;
}

.userCard{
    width: 280px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.userCard:hover{
    transform: scale(1.05);
}

.spinner, 
.noUsersDesign{
    height: 45vh;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.buttons {
    display: inline-block;
    margin-right: 10px;
  }
  
  .modal-backdrop.show {
    background-color: rgba(0,0,0,0.3);
  }

@media screen and (max-width: 768px) {
    .userCardContainer {
      flex-direction: column;
    }

    .userCard {
        width: 70vw;
        margin: 10px;
      }
  }


  


