.petDesign{
  background-color: #00828c;
  color: white;
  font-family: "Myfont";
  
  
}

.petContainer{
  display: flex;
    justify-content: center;
    align-items: center;
    
}

.petRow{
  margin-bottom: 1em;
}


  
  