.appointmentDesing{
    background-color: #00828c;
    color: white;
    font-family: "Myfont";
}


.appointmetContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.act{
    padding: 4em;
}