.appointmentDesing{
    background-color: #00828c;
    color: white;
    font-family: "Myfont";
}


.appointmetContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}


.act{
    padding: 1em;
}