.bgn{
  background-color: #00828c;
  height: 60vh;
}

.seePetDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Myfont";
  
  }

  .petCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 49%;
  }
  

  .petCard {
  width: 280px; 
  height: auto; 
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  }


  .petCard:hover {
    transform: scale(1.05);
  } 
  
  

  

  @media screen and (max-width: 768px) {
    .petCardContainer {
      flex-direction: column;
    }
    .petCard {
        width: 70vw;
        margin: 10px;
      }
  }



