.seePetDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00828c;
  font-family: "Myfont";
  padding: 1.5em;
}

.petCard {
  width: 280px;
  margin: 1.6em;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.petCard:hover {
  transform: scale(1.05);
}

.petCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 49%;
}

.spinnerDesing,
.noUsers {
  height: 45vh;
}

@media screen and (max-width: 768px) {
  .petCardContainer {
    flex-direction: column;
  }

  .petCard {
    width: 70vw;
    margin: 10px;
  }
}
