.profileDesign {
    background-color: #00828c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoProfile {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.colDesign {
    height: 90vh;
}

.infoProfile2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cuadroTxtDesign {
    background-color: white;
    width: 30vw;
    border-radius: 20px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #3ba38c;
}

.cuadroTxtDesign:hover {
    background-color: #3ba38c;
}

.txtDesign {
    font-size: x-large;
}

.button {
    width: 30vw;
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #3ba38c !important;
    margin: 1em;
}

.button:hover {
    background-color: #3ba38c !important;
}

@media (max-width: 992px) {
    .infoProfile2 {
        margin-top: 50px;
    }

    .cuadroTxtDesign,
    .button {
        width: 80vw;
        height: 30px;
    }
}