.seeAppDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00828c;
  font-family: "Myfont";
}

.appCard {
  width: 280px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.appCard:hover {
  transform: scale(1.05);
}

.appCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 49%;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.loading,
.noApp{
  height: 45vh;
}

@media screen and (max-width: 768px) {
  .appCardContainer {
    flex-direction: column;
  }

  .appCard {
    width: 70vw;
    margin: 10px;
  }
}
